<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Carro</title>
    </head>
    <body>
        <h1>Cadastrar novo carro</h1>
        <form id="formularioCarro">
            <label for="marca">Marca:</label>
            <input type="text" id="marca">
            <br>
            <br>
            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo">
            <br>
            <br>
            <label for="placa">Placa:</label>
            <input type="text" id="placa">
            <br>
            <br>
            <label for="cor">Cor:</label>
            <input type="text" id="cor">
            <br>
            <br>
            <input type="submit" value="Cadastrar">
        </form>

        <h1>Lista de carros</h1>

        <ul id="listaCarros"></ul>

        <script src="/js/carroCtrl.js"></script>

    </body>
</html>